<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2><strong>Connect with Andrea Gigante!</strong></h2>
            <p>As a <strong>"bridge"</strong> connecting business acumen and technical knowledge, explore my over 13
                years of experience delivering impactful solutions and pioneering innovations in <strong>AI, security,
                    and agile methodologies</strong>.</p>
            <a href="https://linkedin.com/in/agigante" class="btn btn-default btn-xl wow tada"><strong>Visit My LinkedIn
                    Profile</strong></a>
        </div>
    </div>
</aside>