<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Andrea Gigante: Bridging Innovation and Business Value</h2>
                <hr class="light">
                <p class="text-faded">
                    As a <strong>Principal Product Manager</strong> with <strong>over 13 years of experience</strong> across finance, sports betting, insurance, and automotive industries, I specialise in <strong>transforming complex innovation</strong> – particularly in <strong>AI and Data Visualization</strong> – into measurable business value through secure and user-centric solutions. I excel at <strong>guiding digital product initiatives from concept to customer adoption</strong>, leveraging <strong>Agile, Scrum, and Kanban methodologies</strong> to deliver tangible results. Known for my ability to "<strong>bridge</strong>" technical expertise and business acumen, I lead cross-functional teams and drive alignment with a <strong>customer-solving mindset</strong>. Beyond my professional role, I am a <strong>security fanatic, coffee addict, sci-fi fan, and multilingual (English, Italian, Spanish)</strong>, always seeking to learn and innovate.
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl">Explore My Portfolio</a>
            </div>
        </div>
    </div>
</section>
