<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Andrea Gigante: Bridging Innovation and Business Value</h2>
                <hr class="light">
                <div class="col-md-6 text-left">
                    <ul>
                        <li>Principal Product Manager with 13+ years of experience in:
                            <ul>
                                <li>Finance</li>
                                <li>Sports betting</li>
                                <li>Insurance</li>
                                <li>Automotive industries</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-left">
                    <ul>
                        <li>Specializes in converting complex innovation (especially in <strong>AI</strong> and
                            <strong>Data Visualization</strong>) into measurable business value
                        </li>
                        <li>Focus on <strong>secure</strong>, <strong>user-centric solutions</strong></li>
                        <li>Expert at guiding digital product initiatives from concept to customer adoption</li>
                        <li>Proficient in <strong>Agile</strong>, <strong>Scrum</strong>, and <strong>Kanban</strong>
                            methodologies to drive results</li>
                    </ul>
                </div>
                <div class="col-md-6 text-left">
                    <ul>
                        <li>Strong ability to bridge <strong>technical expertise</strong> with <strong>business
                                acumen</strong></li>
                        <li>Leads cross-functional teams with a <strong>customer-first mindset</strong></li>
                        <li>Personal interests:
                            <ul>
                                <li>Security enthusiast</li>
                                <li>Coffee addict</li>
                                <li>Sci-fi fan</li>
                                <li>Multilingual: English, Italian, Spanish</li>
                            </ul>
                        </li>
                        <li>Constantly learning and innovating</li>
                    </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#portfolio" class="btn btn-default btn-xl">Explore My Portfolio</a>
                </div>
            </div>
        </div>
    </div>
</section>