<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Andrea Gigante: Bridging Innovation and Business Value</h2>
                <hr class="light">
                <p class="text-faded">
                    As a **Principal Product Manager** with **over 13 years of experience** across finance, sports betting, insurance, and automotive industries, I specialise in **transforming complex innovation** – particularly in **AI and Data Visualization** – into measurable business value through secure and user-centric solutions. I excel at **guiding digital product initiatives from concept to customer adoption**, leveraging **Agile, Scrum, and Kanban methodologies** to deliver tangible results. Known for my ability to "**bridge**" technical expertise and business acumen, I lead cross-functional teams and drive alignment with a **customer-solving mindset**. Beyond my professional role, I am a **security fanatic, coffee addict, sci-fi fan, and multilingual (English, Italian, Spanish)**, always seeking to learn and innovate.
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl">Explore My Portfolio</a>
            </div>
        </div>
    </div>
</section>
