<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bridging Innovation and Business Value</h1>
            <hr>
            <p>As a Principal Product Manager, I transform complex innovation, particularly in **AI** and **Data Visualization**, into measurable business value through secure and user-centric solutions. With over 13 years of experience, I drive digital product initiatives from concept to customer adoption, delivering tangible results.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Discover More About My Work</a>
        </div>
    </div>
</header>
