<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/agigante80/ContentGen-AI/" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="Screenshot of ContentGen-AI project">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI Automation & Web Development
                            </div>
                            <div class="project-name">
                                ContentGen-AI & Automated Content Websites
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="Illustration of a personal chatbot">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI & Natural Language Processing
                            </div>
                            <div class="project-name">
                                Personal AI Chat Agent (In Development)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Mockup of a Data Visualization dashboard">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Product Development & UI/UX
                            </div>
                            <div class="project-name">
                                Data Visualization Module
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="Illustration of an in-app advertisement">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Product Management & Business Impact
                            </div>
                            <div class="project-name">
                                In-App Advertisement Feature
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://medium.com/@andrea.gigante/breached-data-stats-and-graphical-representation-haveibeenpwned-source-611ff606b29f" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="Data visualisation of breached accounts">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cybersecurity & Data Analytics
                            </div>
                            <div class="project-name">
                                Breached Data Analysis & Visualisation
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://medium.com/@andrea.gigante/creating-an-agile-roadmap-using-story-mapping-c247413a2948" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="Illustration of an agile story map">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Agile Methodology & Product Strategy
                            </div>
                            <div class="project-name">
                                Agile Roadmap using Story Mapping
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
