<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Expertise: Driving Innovation & Value</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Product Management & Innovation</h3>
                    <p class="text-muted">Leveraging <strong>over 13 years of experience</strong> as a <strong>Principal Product Manager</strong>, I drive product development, particularly in <strong>AI and Data Visualization</strong>. My expertise includes pioneering innovations in AI, spearheading initiatives from <strong>concept to customer adoption</strong>, and delivering <strong>measurable business value</strong>. I also develop comprehensive Data Visualization roadmaps and structured product visions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Agile & Lean Product Delivery</h3>
                    <p class="text-muted">Proficient in <strong>Agile, Scrum, and Kanban methodologies</strong>, I advocate for <strong>short iterations and rapid feedback loops</strong> to build better products faster and adapt quickly to evolving needs. My approach focuses on achieving <strong>tangible results</strong> and fostering continuous improvement in every delivery. I prioritise implementing robust tracking solutions for <strong>data-driven insights</strong> and use story mapping as a dynamic tool.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Security & Strategic Solutions</h3>
                    <p class="text-muted">As a dedicated <strong>security fanatic</strong>, I possess a core competency and practical experience in <strong>security and privacy solutions</strong>. I drive strategic product initiatives aimed at mitigating risks and enhancing security, including <strong>data breach analysis</strong> and secure <strong>mobile payment solutions</strong> through virtual cards. I also proactively explore and leverage new technologies like <strong>AI to develop innovative security concepts</strong>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Collaborative & User-Centric Approach</h3>
                    <p class="text-muted">Known for my ability to '<strong>bridge</strong>' technical and business acumen, I lead <strong>cross-functional teams</strong> and drive alignment with a <strong>customer-solving mindset</strong>. I foster <strong>open communication and collaboration</strong> to ensure user needs are prioritised and solutions are adopted effectively. My leadership style is characterised by calmness, professionalism, and empathy, creating a motivating and safe environment for team members.</p>
                </div>
            </div>
        </div>
    </div>
</section>